:root {
  --rougefonce: #6c1d1d;
  --rouge: #c02f2f;
  --clair: #C1C9D9;
  --blanc: #ffffff;
  --grisfonce: #232323;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: var(--grisfonce);
}

.wrap {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.container {
  min-height: calc(100vh - 220px);
}
#masthead {
  padding: 1rem 0;
  background-color: var(--rouge);
  height: 60px;
  nav ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    li a {
      color: var(--blanc);
    }
  }
}
h1 {
  color: var(--rouge) !important;
}
.wraptable {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  th {
    border: solid 1px white;
  }
  td {
    border-right: solid 1px white;
    border-top: solid 1px white;
  }
  td:nth-child(6) {
    border-right: none;
  }
}

.wrapform {
  color: black;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 10px;
  input,textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 5px;
    color: black;
    font-weight: 700;
  }
  input[type=submit]:hover{
    background-color: #afafaf;
    cursor: pointer;
  }
  .error {
    color: darkred;
  }
}

#colophon {
  background-color: var(--rouge);
  color: var(--blanc);
  padding: 1rem 0;
  text-align: center;
  height: 60px;
}